In [1]:
#importando as bibliotecas que serão utilizadas
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import numpy as np
import warnings

#serão ignoradas todas mensagens de warning (aviso) que aparecer no notebook
warnings.filterwarnings('ignore')

## Abrindo o arquivo com os dados

In [2]:
arquivo_xls = pd.ExcelFile('data/teste_smarkio_Lbs.xls')
dados_analise_ml = pd.read_excel(arquivo_xls, 'Análise_ML')
dados_nlp = pd.read_excel(arquivo_xls, 'NLP')

In [5]:
#esses dados serão utilizados para resolver as atividades de 1 a 4.
dados_analise_ml.head(5)

   Pred_class  probabilidade    status  True_class
0           2       0.079892  approved         0.0
1           2       0.379377  approved        74.0
2           2       0.379377  approved        74.0
3           2       0.420930  approved        74.0
4           2       0.607437  approved         NaN

In [6]:
#esses dados serão utilizados para resolver a atividade 5.
dados_nlp.head(5)

                                               letra  artista
0  Jay-z Uh-uh-uh You ready b? Let's go get 'em. ...  Beyoncé
1  Your challengers are a young group from Housto...  Beyoncé
2  Dum-da-de-da Do, do, do, do, do, do (Coming do...  Beyoncé
3  If I ain't got nothing I got you If I ain't go...  Beyoncé
4  Six inch heels She walked in the club like nob...  Beyoncé

## Atividades

### 1- Análise exploratória dos dados utilizando estatística descritiva e inferencial,considerando uma, duas e/ou mais variáveis.

### 2- Calcule o desempenho do modelo de classificação utilizando pelo menos três métricas.

### 3- Crie um classificador que tenha como output se os dados com status igual arevision estão corretos ou não (Sugestão : Técnica de cross-validation K-fold).

### 4- Compare três métricas de avaliação aplicadas ao modelo e descreva sobre a diferença.

### 5- Crie um classificador, a partir da segunda aba - NLP do arquivo de dados, quepermita identificar qual trecho de música corresponde às respectivas artistas listadas (Sugestão: Naive Bayes Classifier).